.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 10px;
}

.pagination li.active {
    background-color: #351752;
    color: #fff;
    border: 1px solid#351752;
}

.pagination li:not(.active):not(.disabled):hover {
    background-color: #f0f0f0;
}
.disabled {
    background-color: #ccc;
    color: #666;
}