.listTodo_btn {
  display: flex;
  gap: 80%;
  align-items: center;
  @media (max-width: 1416px) {
    gap: 70%;
  }
  @media (max-width: 944px) {
    gap: 58%;
  }
  @media (max-width: 674px) {
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  @media (max-width: 553px) {
  }
  .context_btn {
    margin-top: 26px;
    height: 50px;
    border: 3px solid #351752;
    border-radius: 5px;
    @media (max-width: 674px) {
      margin-left: 18px;
    }
    .context_btn-gridView {
      background: url("../../../public/icon/gridView.svg") no-repeat center
        center;
      width: 50px;
      height: 50px;
      border: none;
      &:focus {
        background-color: #e094ff;
      }
    }
    .context_btn-listView {
      background: url("../../../public/icon/listView.svg") no-repeat center
        center;
      width: 50px;
      height: 50px;
      border: none;
      &:focus {
        background-color: #e094ff;
      }
    }
  }
}

.itemTodo_container {
  max-width: 70%;
  margin: 50px auto;
  list-style: none;
  &.gridView {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 70%;
    justify-content: center;
    @media (max-width: 1500px) {
      max-width: 100%;
    }
    //                  @media (max-width: 1100px) {
    //                     justify-content: center;
    //                  }
  }
  @media (max-width: 404px) {
    max-width: 100%;
    margin: 50px auto;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 10px;
}

.pagination li.active {
  background-color: #351752;
  color: #fff;
  border: 1px solid#351752;
}

.pagination li:not(.active):not(.disabled):hover {
  background-color: #f0f0f0;
}
.disabled {
  background-color: #ccc;
  color: #666;
}
